#!/usr/bin/env bash
# ~/.exports

if [[ "${OS}" == "Darwin" ]]; then

  export BASH_SILENCE_DEPRECATION_WARNING=1

  export PATH=/usr/local/bin:/usr/local/sbin:$PATH
  # Export path to include Homebrew binaries
  export HOMEBREW_BREWFILE=$HOME/Documents/Projects/dotfiles/.extra/Brewfile
  # Set location of Brewfile

  if [[ -x "/usr/local/opt/ruby/bin/ruby" ]]; then
  	export PATH=/usr/local/opt/ruby/bin:$PATH
  fi

  if [[ -x "$(command -v go)" ]]; then
    export GOPATH=$HOME/Documents/Projects/go
    export PATH=$PATH:$GOPATH/bin
    # Go
  fi 
fi
