#!/usr/bin/env bash
# ~/.exports

if [[ "${OS}" == "Darwin" ]]; then

  export PATH=/usr/local/bin:/usr/local/sbin:$PATH
  # Export path to include Homebrew binaries
  export HOMEBREW_BREWFILE=$HOME/Documents/Projects/dotfiles/Brewfile
  # Set location of Brewfile
fi
