#!/usr/bin/env bash
# dotfiles/.functions


function update! {

  # Update Homebrew, LaTeX packages and macOS

  echo "[⚠️ ] Updating brew, LaTeX, pip3 & macOS"
  sudo -v

  echo "[🍺] Updating brew"
  brew update
  brew upgrade

  echo "[📝] Updating LaTeX"
  sudo tlmgr update –all

  echo "[🐍] Updating pip3"
  pip3 install --upgrade pip

  echo "[🍎] Updating macOS "
  softwareupdate -i -a
}

