#!/usr/bin/env bash
# dotfiles/.functions


function update! {

  # Update Homebrew, LaTeX packages and macOS

  echo "[⚠️ ] Updating brew, LaTeX, pip3, Ruby Gems & macOS"
  sudo -v

  if [ -x "$(which brew)" ]; then
    echo "[🍺] Updating brew"
    brew update
    brew upgrade
    brew cleanup
  fi

  if [ -x "$(command -v tlmgr)" ]; then
    echo "[📝] Updating LaTeX"
    sudo tlmgr update --self
    sudo tlmgr update –all
  fi

  if [ -x "$(command -v pip3)" ]; then
    echo "[🐍] Updating pip3"
    pip3 install --upgrade pip
  fi

  if [ -x "$(command -v gem)" ]; then
    echo "[💎] Updating Ruby Gems"
    gem update
    gem cleanup
  fi

  echo "[🍎] Updating macOS "
  softwareupdate -i -a
}

