#!/usr/bin/env bash
# dotfiles/.functions


function update! {

  # Update Homebrew, LaTeX packages and macOS

  echo "[⚠️ ] Updating brew, LaTeX, pip3, Ruby Gems & macOS"
  sudo -v

  if [ -x "/usr/local/bin/brew" ]; then
    echo "[🍺] Updating brew"
    brew update
    brew upgrade
    brew cleanup
  fi

  if [ -x "$(command -v tlmgr)" ]; then
    echo "[📝] Updating LaTeX"
    sudo tlmgr update --self
    sudo tlmgr update –all
  fi

  if [ -x "$(command -v pip3)" ]; then
    echo "[🐍] Updating pip3"
    pip3 install --upgrade pip
  fi

  if [ -x "/usr/local/opt/ruby/bin/gem" ]; then
    echo "[💎] Updating Ruby Gems"
    /usr/local/opt/ruby/bin/gem update
    /usr/local/opt/ruby/bin/gem cleanup
  fi

  if [[ "${OS}" == "Darwin" ]]; then
    echo "[🍎] Updating macOS"
    softwareupdate -i -a
  fi

  if [[ "${OS}" == "Linux" ]]; then
    echo "[🐧] Updating Linux"
    if [ -x "$(command -v apt-get)" ]; then
      sudo apt-get update
      sudo apt-get upgrade -y
      sudo apt-get autoclean -y
      sudo apt-get autoremove -y
    
    elif [ -x "$(command -v yum)" ]; then
      sudo yum update
    fi
  fi
}
