# ~/.gitignore

.DS_Store

# Sublime Text
Package Control.cache/
Package Control.last-run
Package Control.merged-ca-bundle
Package Control.user-ca-bundle
oscrypto-ca-bundle.crt
*.sublime-workspace
.SublimeREPLHistory

# files for sensitive info 
.extra*
.zsh_history

