<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.0xmachos.jump-user</string>
	<key>LowPriorityBackgroundIO</key>
	<true/>
	<key>Nice</key>
	<integer>10</integer>
	<key>ProcessType</key>
	<string>Background</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/jump-user</string>
		<string>--delay</string>
		<string>30</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>__HOME__/Library/Logs/jump-user.launchd.log</string>
	<key>StandardOutPath</key>
	<string>__HOME__/Library/Logs/jump-user.launchd.log</string>
	<key>StartInterval</key>
	<integer>43200</integer>
</dict>
</plist>
