<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.0xmachos.scratch-sweep</string>
	<key>LowPriorityBackgroundIO</key>
	<true/>
	<key>Nice</key>
	<integer>10</integer>
	<key>ProcessType</key>
	<string>Background</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/scratch-sweep</string>
	</array>
	<key>StandardErrorPath</key>
	<string>__HOME__/Library/Logs/scratch-sweep.log</string>
	<key>StandardOutPath</key>
	<string>__HOME__/Library/Logs/scratch-sweep.log</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>4</integer>
		<key>Minute</key>
		<integer>23</integer>
	</dict>
</dict>
</plist>
